In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

#웹 페이지를 열고 소스코드를 읽어오는 작업
url = "https://comic.naver.com/webtoon/weekday.nhn"
res = requests.get(url)
res.raise_for_status()

soup = BeautifulSoup(res.text, "html.parser")

day_lst = ['일', '월', '화', '수', '목', '금', '토']
webtoon_rank = pd.DataFrame()


for i, day in enumerate(day_lst):
    webtoon_day = pd.DataFrame()
    if i==0:
        day_toon = soup.find("div", attrs={"class":re.compile("^col")})
    else:
        day_toon = day_toon.find_next_sibling("div")

    cartoons = day_toon.find_all("a", attrs={"class":"title"})
    

    webtoon = []
    for cartoon in cartoons:
        title = cartoon.get_text()
        webtoon.append([title])
        webtoon_title = pd.DataFrame(webtoon)

    webtoon_rank = pd.concat([webtoon_rank, webtoon_title], axis=1, ignore_index=True)
webtoon_rank.columns = [f'{day}요일' for day in day_lst]
webtoon_rank.index = [f'{i+1}위' for i in webtoon_rank.index]

webtoon_rank

,일요일,월요일,화요일,수요일,목요일,금요일,토요일
1위,참교육,김부장,내 남편과 결혼해줘,독립일기,외모지상주의,99강화나무몽둥이,독립일기
2위,뷰티풀 군바리,여신강림,전지적 독자 시점,나노마신,대학원 탈출일지,호랑이형님,싸움독학
3위,퀘스트지상주의,대학원 탈출일지,조조코믹스,이상한 변호사 우영우,나 혼자 만렙 뉴비,조조코믹스,입학용병
4위,장씨세가 호위무사,내가 키운 S급들,헬퍼 2 : 킬베로스,2022 몰래보는 로맨스,광마회귀,2022 몰래보는 로맨스,별이삼샵
5위,윈드브레이커,1을 줄게,격기3반,남편을 죽여줘요,갓 오브 하이스쿨,취사병 전설이 되다,약한영웅
...,...,...,...,...,...,...,...
79위,NaN,하나in세인,이 짝사랑은 억울하다!,온실 속 화초,스치면 인연 스며들면 사랑,보듬보듬,NaN
80위,NaN,마녀이야기,필생기,보물과 괴물의 도시,히트포인트,실버 쥬얼,NaN
81위,NaN,NaN,아이돌의 비밀 스터디,유월의 소한,NaN,NaN,NaN
82위,NaN,NaN,산의 시간,사랑하는 여배우들,NaN,NaN,NaN
83위,NaN,NaN,우리 은하,권리행사자,NaN,NaN,NaN

In [ ]:
print('-----------------shape-----------------')
print(webtoon_rank.shape)
print('-----------------info-----------------')
print(webtoon_rank.info())
print('-----------------describe------------------')
print(webtoon_rank.describe())
print('-----------------isnull-----------------')
print(webtoon_rank.isnull().sum())

-----------------shape-----------------
(83, 7)
-----------------info-----------------
<class 'pandas.core.frame.DataFrame'>
Index: 83 entries, 1위 to 83위
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일요일     78 non-null     object
 1   월요일     80 non-null     object
 2   화요일     83 non-null     object
 3   수요일     83 non-null     object
 4   목요일     80 non-null     object
 5   금요일     80 non-null     object
 6   토요일     78 non-null     object
dtypes: object(7)
memory usage: 5.2+ KB
None
-----------------describe------------------
        일요일  월요일         화요일   수요일     목요일        금요일   토요일
count    78   80          83    83      80         80    78
unique   78   80          83    83      80         80    78
top     참교육  김부장  내 남편과 결혼해줘  독립일기  외모지상주의  99강화나무몽둥이  독립일기
freq      1    1           1     1       1          1     1
-----------------isnull-----------------
일요일    5
월요일    3
화요일    0
수요일    0
목요일    3
금요일    3
토요일    5
dtype: int64

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

def webtoon_rank(days=None):
    # 웹 페이지를 열고 소스코드를 읽어오는 작업
    url = "https://comic.naver.com/webtoon/weekday.nhn"
    res = requests.get(url)
    res.raise_for_status()

    soup = BeautifulSoup(res.text, "html.parser")

    day_lst = ['일', '월', '화', '수', '목', '금', '토']
    webtoon_rank = pd.DataFrame()

    # 요일 별 제목 가져오기 위한 작업
    for i, day in enumerate(day_lst):
        webtoon_day = pd.DataFrame()
        if i==0:
            day_toon = soup.find("div", attrs={"class":re.compile("^col")})
        else:
            day_toon = day_toon.find_next_sibling("div")

        cartoons = day_toon.find_all("a", attrs={"class":"title"})
        
        # 요일 별로 제목을 가져와 dataframe으로 만들기
        webtoon = []
        for cartoon in cartoons:
            title = cartoon.get_text()
            webtoon.append([title])
            webtoon_title = pd.DataFrame(webtoon)

        webtoon_rank = pd.concat([webtoon_rank, webtoon_title], axis=1, ignore_index=True)
    webtoon_rank.columns = [f'{day}요일' for day in day_lst]
    webtoon_rank.index = [f'{i+1}위' for i in webtoon_rank.index]
    
    # 원하는 요일만 볼 수 있음
    # 지정하지 않을 시, 전체 요일 출력
    if day == None:
      webtoon_rank = webtoon_rank
    else:
      webtoon_rank = webtoon_rank.loc[:, days]

    webtoon_rank.to_csv("webtoon_rank")

    return webtoon_rank

In [ ]:
webtoon_rank(days=['월요일'])

           월요일
1위         김부장
2위        여신강림
3위    대학원 탈출일지
4위   내가 키운 S급들
5위       1을 줄게
..         ...
79위     하나in세인
80위      마녀이야기
81위        NaN
82위        NaN
83위        NaN

[83 rows x 1 columns]